___

<a href="https://mainacademy.ua/"> <img src="https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png" alt = "Хмм, щось з інтернетом"/></a>
___

# Module 5: Data analysis with NumPy and Pandas

## Lab work 5.2

#### Мета: 

* навчитися працювати із бібліотекою Pandas в Python.

### Завдання:

In [1]:
import pandas as pd

Вивести версію та конфігурацію бібліотеки:

In [2]:
print(pd.__version__)

1.1.5

In [3]:
df = pd.read_csv("../Ecommerce Purchases")

Скільки рядків і стовпців в наборі даних:

In [4]:
print("Кількість рядків:", len(df.index))
print("Кількість стовпців:", len(df.columns))

Кількість рядків: 10000
Кількість стовпців: 14

Перевірити, чи в наборі даних містяться порожні значення:

In [5]:
df.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

Яка середня ціна закупки (Purchase Price):

In [6]:
print("Середнє значення Purchase Price:", round(df["Purchase Price"].mean(), 2))

Середнє значення Purchase Price: 50.35

Скільки людей користуються англійською мовою "en" на веб-сайті:

In [7]:
print("Кількість користувачів англійською:", df.loc[df["Language"] == "en"]["Language"].count())

Кількість користувачів англійською: 1098

Скільки людей має посаду «Lawyer»?

In [8]:
print("Кількість користувачів Lawyer:", df.loc[df["Job"] == "Lawyer"]["Job"].count())

Кількість користувачів Lawyer: 30

Скільки людей зробило покупку вранці та скільки людей зробило покупку після обіду?

In [9]:
print("Кількість покупців уранці:", df.loc[df["AM or PM"] == "AM"]["AM or PM"].count())
print("Кількість покупців після обіду:", df.loc[df["AM or PM"] == "PM"]["AM or PM"].count())

Кількість покупців уранці: 4932
Кількість покупців після обіду: 5068

Які 5 найпоширеніших назв вакансій?

In [10]:
print("ТОП-5 вакансій:")
df["Job"].value_counts()[:5]

ТОП-5 вакансій:

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Designer, jewellery              27
Purchasing manager               27
Name: Job, dtype: int64

Хтось здійснив покупку, яка надійшла від Lot: "90 Wt", та якою була ціна придбання для цієї транзакції?

In [11]:
#в датасеті немає лота "90 Wt", натомість є "90 WT"
df[df["Lot"] == "90 WT"]["Purchase Price"]

513    75.1
Name: Purchase Price, dtype: float64

Яка електронна адреса особи з таким номером кредитної картки: 4926535242672853 ?

In [12]:
df[df["Credit Card"] == 4926535242672853]["Email"]

1234    bondellen@williams-garza.com
Name: Email, dtype: object

Скільки людей використовує American Express  і здійснили покупку на суму понад 100 доларів?

In [13]:
print("Кількість людей:", df[(df["CC Provider"] == "American Express") & (df["Purchase Price"] > 100)]["Purchase Price"].count())

Кількість людей: 0

Скільки людей мають кредитну картку, термін дії якої закінчується в 2025 році?

Які найкращі 5 найпопулярніших постачальників / хостів електронної пошти (наприклад, gmail.com, yahoo.com тощо ...).

In [14]:
mail_df = df["Email"].str.split("@", expand = True)
mail_df[1].value_counts()[:5]

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: 1, dtype: int64

Виведіть зведену таблицю по браузерах(Browser Info), посаді(Job), та кількості транзакцій :

In [15]:
pd.pivot_table(df, index=["Browser Info", "Job"], values = ["Purchase Price"], aggfunc = len)

                                                                                          Purchase Price
Browser Info                                       Job
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 r... Psychotherapist, dance movement                   1.0
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 r... Retail merchandiser                               1.0
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 r... Firefighter                                       1.0
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0 r... Broadcast presenter                               1.0
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0) ... Development worker, international aid             1.0
...                                                                                                  ...
Opera/9.99.(X11; Linux i686; sl-SI) Presto/2.9.... Company secretary                                 1.0
Opera/9.99.(X11; Linux x86_64; en-US) Presto/2.... Dramatherapist                                    1.0
Opera/9.99.(X11; Linux x86_64; en-US) Presto/2.... Private music teacher                             1.0
Opera/9.99.(X11; Linux x86_64; it-IT) Presto/2.... Hotel manager                                     1.0
Opera/9.99.(X11; Linux x86_64; it-IT) Presto/2.... Scientist, forensic                               1.0

[9989 rows x 1 columns]

Створіть нову колонку "Actual price", яка утворюється із "Purchase Price" та націнки за принципом:
- якщо "Purchase Price" > 50, націнка 20%
- якщо "Purchase Price" > 100, націнка 10%
- в інших випадках націнка 30%

In [16]:
def price(row):
    if row["Purchase Price"] > 100:
        val = row["Purchase Price"] * 1.2
    elif 50 < row["Purchase Price"] <= 100:
        val = row["Purchase Price"] * 1.1
    else:
        val = row["Purchase Price"] * 1.3
    return val

In [17]:
df["Actual price"] = df.apply(price, axis = 1)

In [18]:
df["Price_up"] = df["Actual price"]/df["Purchase Price"]

In [19]:
df.loc[:, ["Purchase Price", "Actual price", "Price_up"]]

      Purchase Price  Actual price  Price_up
0              98.14       107.954       1.1
1              70.73        77.803       1.1
2               0.95         1.235       1.3
3              78.04        85.844       1.1
4              77.82        85.602       1.1
...              ...           ...       ...
9995           82.21        90.431       1.1
9996           25.63        33.319       1.3
9997           83.98        92.378       1.1
9998           38.84        50.492       1.3
9999           67.59        74.349       1.1

[10000 rows x 3 columns]

Зробіть рангування набору даних по "Language" та "Actual price" в порядку спадання ціни.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [20]:
df["Language_rank"] = df["Language"].rank(ascending = False)
df["Actual price_rank"] = df["Actual price"].rank(ascending = False)

In [21]:
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Actual price,Price_up,Language_rank,Actual price_rank
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,107.954,1.1,8277.0,191.0
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,77.803,1.1,4967.0,2988.5
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,1.235,1.3,9423.0,9894.5
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,85.844,1.1,6063.0,2256.0
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,85.602,1.1,6063.0,2279.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21,90.431,1.1,3875.5,1852.5
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63,33.319,1.3,2773.5,7450.0
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98,92.378,1.1,8277.0,1659.0
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84,50.492,1.3,6063.0,6126.0
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59,74.349,1.1,8277.0,3294.0

Колонку "Language" (категоріальна змінна) "закодуйте", тобто утворити індикаторні колоник. В наборі не повинна залишитися колонка "Language".

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [22]:
dummy = pd.get_dummies(df["Language"])
dummy

      de  el  en  es  fr  it  pt  ru  zh
0      0   1   0   0   0   0   0   0   0
1      0   0   0   0   1   0   0   0   0
2      1   0   0   0   0   0   0   0   0
3      0   0   0   1   0   0   0   0   0
4      0   0   0   1   0   0   0   0   0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..
9995   0   0   0   0   0   1   0   0   0
9996   0   0   0   0   0   0   1   0   0
9997   0   1   0   0   0   0   0   0   0
9998   0   0   0   1   0   0   0   0   0
9999   0   1   0   0   0   0   0   0   0

[10000 rows x 9 columns]

In [23]:
df = pd.concat([df, dummy], axis = 1)
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,...,Actual price_rank,de,el,en,es,fr,it,pt,ru,zh
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,...,191.0,0,1,0,0,0,0,0,0,0
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,...,2988.5,0,0,0,0,1,0,0,0,0
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,...,9894.5,1,0,0,0,0,0,0,0,0
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,...,2256.0,0,0,0,1,0,0,0,0,0
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,...,2279.5,0,0,0,1,0,0,0,0,0

Кінцевий набір даних збережіть у файл з розширенням csv.

In [24]:
df.to_csv("../Ecommerce_Purchases_2.csv")